<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <title>Used Car Price Predictor</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>

    
  </head>
  <body class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="card mt-50" style="width: 100%; height: 100%">
                <div class="card-header">
                    <div class="col-12" style="text-align: center">
                        <h1>USED CAR PRICE PREDICTOR</h1>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" accept-charset="utf-8">

                        <div class="col-18 form-group" style="text-align: center;">
                            <label>
                                <b>Select the Company</b>
                            </label>
                            <select class="selectpicker form-control" id="company" name="company" required="1" 
                            onchange="load_car_models(this.id,'car_model')">
                               {% for company in companies %}
                                 <option value="{{ company }}">{{ company }}</option>
                               {% endfor %}
                            </select>
                        </div>

                        <div class="col-18 form-group" style="text-align: center;">
                            <label>
                                <b>Select Model</b>
                            </label>
                            <select class="selectpicker form-control" id="car_model" name="car_model" required="1">
                                
                            </select>
                        </div>

                        <div class="col-18 form-group" style="text-align: center;">
                            <label>
                                <b>Select Year of Manufacture</b>
                            </label>
                            <select class="selectpicker form-control" id="year" name="year" required="1">
                                {% for year in years %}
                                 <option value="{{ year }}">{{ year }}</option>
                               {% endfor %}
                            </select>
                        </div>

                        <div class="col-18 form-group" style="text-align: center;">
                            <label>
                                <b>Select Fuel Type</b>
                            </label>
                            <select class="selectpicker form-control" id="fuel_type" name="fuel_type" required="1">
                                {% for fuel in fuel_type %}
                                 <option value="{{ fuel }}">{{ fuel }}</option>
                               {% endfor %}
                            </select>
                        </div>

                        <div class="col-18 form-group" style="text-align: center;">
                            <label>
                                <b>Enter Current Odometer Reading: </b>
                            </label>
                            <input class="form-control" type="text" id="kms_driven" name="kms_driven" required="1">
                                <option value=""></option>
                            </select>
                        </div>
                        <div style="text-align: center">
                            <button class="btn btn-primary form-control" onclick="send_data()">Evaluate</button>
                        </div>
                    </form>
                    <br>
                    <div class="col-12" style="text-align: center;">
                            <h2><span id="prediction"></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function load_car_models(company_id,car_model_id){
            var company=document.getElementById(company_id);
            var car_model= document.getElementById(car_model_id);
            console.log(company.value);
            car_model.value="";
            car_model.innerHTML="";
            {% for company in companies %}
                if( company.value == "{{ company }}")
                {
                    {% for model in car_models %}
                        {% if company in model %}

                            var newOption= document.createElement("option");
                            newOption.value="{{ model }}";
                            newOption.innerHTML="{{ model }}";
                            car_model.options.add(newOption);
                        {% endif %}
                    {% endfor %}
                }
            {% endfor %}
        }
    </script>
    <script>

    function form_handler(event){
        event.preventDefault();
    }

    function send_data(){
        document.querySelector('form').addEventListener('submit',form_handler);
        var fd = new FormData(document.querySelector('form'));
        var xhr= new XMLHttpRequest();
        xhr.open('POST','/predict' , true);
        document.getElementById("prediction").innerHTML="Loading...";

        xhr.onreadystatechange= function(){
            if(xhr.readyState==XMLHttpRequest.DONE){
                document.getElementById("prediction").innerHTML= "Estimate: ₹"
                    + xhr.responseText;
            }
        };

        xhr.onload=function(){};
        xhr.send(fd);
    }


    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
  </body>
</html>